<div ng-controller="MenuController" ng-init="titulo='Menu'">
<h1>{{ titulo }}</h1>
    <div>
        <br>
        <label for="calorias">Calorías maximas</label>
        <input type="text" name="caloriasMaximas" ng-model="caloriasMaximas" ng-change="actualizarComidas()">
        <br><br>
        <label for="titulo">Título</label>
        <input type="text" name="titulo" ng-model="titulo">
        <br><br>
        <ul>
            <!-- <li ng-repeat="comida in comidas" ng-if="validarCalorias(comida.calorias)">
                <input type="checkbox" name="arroz" value="{{ comida.id }}">
                <label for="arroz">{{ comida.nombre }}</label>            
            </li> -->
            <li ng-repeat="comida in comidas" ng-if="comida.visible">
                <input type="checkbox" name="arroz" value="{{ comida.id }}" ng-click="adicionarComida(comida.id)">
                <label for="arroz">{{ comida.nombre }}</label>            
            </li>
        </ul>

        <p>Comidas seleccionadas: {{ comidasSeleccionadas }}</p>
    </div>

</div>
